.DS_Store
node_modules
/build
/docs/build
/.svelte-kit
docs/.svelte-kit
/package
.env
.env.*
!.env.sample
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.vercel
src/lib/dependency-report.json
static/~partytown/
pocketbase
pb_data
test-results