.loader {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 6rem;
	gap: 2rem;
	text-align: center;
}

.loader span {
	font-size: 2rem;
}

kbd {
	margin-left: auto;
	font-family: var(--sk-font);
	font-weight: 800;
	text-transform: uppercase;
	border: 1px solid var(--sk-back-5);
	color: var(--sk-text-3);
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	line-height: 1.5rem;
}
