@import '@sveltejs/site-kit/styles/index.css';

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	color-scheme: dark light;
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: var(--sk-font);
}

body .splitpanes.default-theme .splitpanes__splitter {
	background-color: var(--sk-back-4);
	border: none;
}

body .splitpanes.default-theme .splitpanes__splitter::before,
body .splitpanes.default-theme .splitpanes__splitter::after {
	content: none;
}

body .default-theme.splitpanes--vertical > .splitpanes__splitter,
body .default-theme .splitpanes--vertical > .splitpanes__splitter {
	width: 2px;
}

body .default-theme.splitpanes--horizontal > .splitpanes__splitter,
body .default-theme .splitpanes--horizontal > .splitpanes__splitter {
	height: 2px;
}

.loader {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 5em;
}
.loader span {
	font-size: 1em;
}

/* override site-kit */
button > svg {
	height: initial !important;
	width: initial !important;
	stroke: initial !important;
}
