@import '@sveltejs/site-kit/styles/index.css';
@import 'xterm/css/xterm.css';

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	color-scheme: dark light;
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: var(--sk-font);
}

body .splitpanes.default-theme .splitpanes__splitter {
	background-color: var(--sk-back-4);
	border: none;
}

body .splitpanes.default-theme .splitpanes__splitter::before,
body .splitpanes.default-theme .splitpanes__splitter::after {
	content: none;
}

body .default-theme.splitpanes--vertical > .splitpanes__splitter,
body .default-theme .splitpanes--vertical > .splitpanes__splitter {
	width: 2px;
}

body .default-theme.splitpanes--horizontal > .splitpanes__splitter,
body .default-theme .splitpanes--horizontal > .splitpanes__splitter {
	height: 2px;
}

.loader {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 5em;
}

.loader span {
	font-size: 1em;
}

/* override site-kit */
button > svg {
	height: initial !important;
	width: initial !important;
	stroke: initial !important;
}

.dark {
	/* TODO create tokens for all the ad-hoc styles used on the site, so we can offer dark mode */
	--sk-back-1: hsl(0, 0%, 10%);
	--sk-back-2: hsl(0, 0%, 18%);
	/* --sk-back-3: hsl(0, 0%, 20%); */
	--sk-back-4: hsl(0, 0%, 22%);
	--sk-back-5: hsl(0, 0%, 40%);
	--sk-back-translucent: hsla(0, 0%, 100%, 0.1);
	--sk-theme-1: hsl(15, 100%, 55%);
	--sk-theme-2: hsl(240, 8%, 44%);
	--sk-theme-3: hsl(204, 100%, 63%);
	--sk-text-1: hsl(0, 0%, 90%);
	--sk-text-2: hsl(0, 0%, 80%);
	--sk-text-3: hsl(0, 0%, 65%);
	--sk-text-translucent: hsla(0, 0%, 100%, 0.9);
	--sk-scrollbar: rgba(255, 255, 255, 0.3);

	--sk-back-3-hsl: 0, 0%, 14%;
	--sk-theme-1-variant: hsl(15, 100%, 40%);
	--sk-theme-2-variant: hsl(240, 8%, 35%);
	--sk-theme-3-variant: hsl(204, 100%, 50%);

	--sk-code-ts-bg: var(--sk-back-2);
	--sk-code-bg: var(--sk-back-3);
	--sk-code-base: hsl(45, 7%, 75%);
	--sk-code-comment: hsl(0, 0%, 51%);
	--sk-code-keyword: hsl(204, 88%, 65%);
	--sk-code-function: hsl(19, 67%, 75%);
	--sk-code-string: hsl(41, 37%, 68%);
	--sk-code-number: hsl(120, 100%, 25%);
	--sk-code-template-string: hsl(2, 80%, 47%);
	--sk-code-tags: var(--code-function);
	--sk-code-important: var(--code-string);
	--sk-code-diff-base: hsla(0, 0%, 100%, 0.4);
	--sk-code-diff-inserted: hsl(120, 100%, 35%);
	--sk-code-diff-removed: hsl(2, 80%, 47%);
}

.light {
	--sk-back-h: 206;
	--sk-back-3-hsl: 206, 64%, 98%;

	--sk-back-1: hsl(0, 0%, 100%);
	--sk-back-2: hsl(0, 0%, 100%);
	/* same as sk-back-1 in light mode, different in dark mode */
	--sk-back-3: hsl(var(--sk-back-3-hsl));
	--sk-back-4: hsl(206, 44%, 93%);
	--sk-back-5: hsl(206, 20%, 80%);
	--sk-theme-1: hsl(15, 100%, 50%);
	--sk-theme-2: hsl(240, 8%, 44%);
	--sk-theme-3: hsl(204, 100%, 63%);
	--sk-text-1: hsl(0, 0%, 13%);
	--sk-text-2: hsl(0, 0%, 27%);
	--sk-text-3: var(--sk-theme-2);
	--sk-scrollbar: rgba(0, 0, 0, 0.3);

	/* same in light mode, different in dark mode */
	--sk-theme-1-variant: hsl(15, 100%, 50%);
	--sk-theme-2-variant: hsl(240, 8%, 44%);
	--sk-theme-3-variant: hsl(204, 100%, 63%);

	--sk-code-bg: var(--sk-back-3);
	--sk-code-ts-bg: var(--sk-back-1);
	--sk-code-base: hsl(45, 7%, 35%);
	--sk-code-comment: hsl(0, 0%, 41%);
	--sk-code-keyword: hsl(204, 88%, 35%);
	--sk-code-function: hsl(19, 67%, 44%);
	--sk-code-string: hsl(41, 37%, 38%);
	--sk-code-number: hsl(120, 100%, 25%);
	--sk-code-template-string: hsl(2, 80%, 47%);
	--sk-code-tags: var(--code-function);
	--sk-code-important: var(--code-string);
	--sk-code-diff-base: hsla(0, 0%, 0%, 0.4);
	--sk-code-diff-inserted: hsl(120, 100%, 25%);
	--sk-code-diff-removed: hsl(2, 80%, 47%);

	/* used for coloured backgrounds e.g. blockquotes */
	--sk-back-translucent: hsla(0, 0%, 0%, 0.1);
	--sk-text-translucent: hsla(0, 0%, 0%, 0.7);
}
