form {
	border-radius: 0.5rem;
	margin: auto;
	display: flex;
	flex-direction: column;
	max-width: 45rem;
	gap: 2.5rem;
	background-color: var(--sk-back-2);
	padding: 3rem;
	margin-top: 4rem;
}

input {
	display: block;
	width: 100%;
	font-size: 1.2em;
	padding: 0.5rem;
	border-radius: 0.5rem;
	border-style: solid;
	border-width: 0.1rem;
	margin-top: 0.5rem;
}

a,
button {
	gap: 0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	border-radius: 0.5rem;
	padding: 1rem;
	color: inherit;
	border: 0.1rem solid var(--sk-theme-1);
}

a:hover,
button:hover {
	background-color: var(--sk-theme-1);
	color: #fff;
}

a:hover {
	text-decoration: underline;
}

hr {
	border-color: var(--sk-back-5);
	border-style: solid;
	border-radius: 999rem;
}

section[data-error] {
	border: 0.2rem solid var(--sk-code-diff-removed);
	padding: 1rem;
}
