:global(body) {
	background-color: var(--sk-back-1);
}


form {
	--bg-form: var(--sk-back-2);
	--bg-buttons: var(--sk-back-3);
	border-radius: 0.5rem;
	display: flex;
	flex-direction: column;
	width: min(40rem, 90%);
	gap: 2rem;
	background-color: var(--bg-form);
	padding: 3rem;
}

@media (prefers-color-scheme: light) {
	form {
		--bg-form: var(--sk-back-3);
		--bg-buttons: var(--sk-back-4);
	}
}

:global(.dark) form {
	--bg-form: var(--sk-back-2);
	--bg-buttons: var(--sk-back-3);
}

:global(.light) form {
	--bg-form: var(--sk-back-3);
	--bg-buttons: var(--sk-back-4);
}

input {
	display: block;
	width: 100%;
	font-size: 1.2em;
	padding: 0.5rem;
	border-radius: 0.5rem;
	border-style: solid;
	border-width: 0.1rem;
	margin-top: 0.5rem;
}

a,
button {
	gap: 0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	border-radius: 0.5rem;
	padding: 1rem;
	color: inherit;
	background-color: var(--bg-buttons);
}

a:hover,
button:hover {
	background-color: var(--sk-theme-1);
	color: #fff;
}

a:hover {
	text-decoration: underline;
}

hr {
	border-color: var(--sk-back-5);
	border-style: solid;
	border-radius: 999rem;
}

section[data-error] {
	border: 0.2rem solid var(--sk-code-diff-removed);
	padding: 1rem;
}